*{
	margin: none;
}

body {
	display: grid;
	justify-content: center;
	text-align: center;
	align-items: center;
}

input {
	background: rgb(41,39,62);
background: linear-gradient(90deg, rgba(41,39,62,1) 0%, rgba(43,34,51,1) 41%, rgba(64,57,68,1) 100%);
	width: 40vw;
	height: 10vh;
	margin-bottom: 2.5vh;
	color: white;
	font-size: 32px;
	 border-radius: 10px;
}

.calculator-container {
		background: rgb(227,225,251);
background: linear-gradient(90deg, rgba(227,225,251,1) 0%, rgba(232,232,244,1) 35%, rgba(232,251,255,1) 100%);
		width: 42.5vw;
		height: 65vh;
		display: grid;
		 place-items: center;
		 padding-top: 2.5vh;
		 padding-bottom: 2.5vh;
		 padding-left: 1vw;
		 padding-right: 1vw;
		 border-radius: 5px;
}

/*.display {
	background-color: silver;
	width: 35vw;
	height: 10vh;
	margin-bottom: 0.5vh;
}*/

.clear {
	background: rgb(41,39,62);
background: linear-gradient(90deg, rgba(41,39,62,1) 0%, rgba(43,34,51,1) 41%, rgba(64,57,68,1) 100%);
width: 6.5vw;
height: 6.5vh;
color: white;
padding-top: 2.5vh;
}

.equal {
	background: rgb(41,39,62);
	background: linear-gradient(90deg, rgba(41,39,62,1) 0%, rgba(43,34,51,1) 41%, rgba(64,57,68,1) 100%);
	width: 6.5vw;
	height: 6.5vh;
	color: white;
	padding-top: 2.5vh;
}

.key-pad {
	background: rgb(250,250,255);
background: linear-gradient(90deg, rgba(250,250,255,1) 0%, rgba(241,241,252,1) 41%, rgba(246,253,255,1) 100%);
	width: 40vw;
	height: 40vh;
	display: grid;
	 place-items: center;
	 grid-template-columns: auto auto auto auto auto;
	 border: 2px solid silver;
	 margin-top: -4.5vh;
	 border-radius: 5px;
}


.numbers {
	width: 6.5vw;
	height: 6.5vh;
	background-color: white;
	padding-top: 2.5vh;
	border: 2px solid silver;
	border-radius: 5px;

}

.opperator {
	background: rgb(62,57,122);
background: linear-gradient(90deg, rgba(62,57,122,1) 0%, rgba(122,70,164,1) 41%, rgba(126,72,162,1) 100%);
	color: white;
	width: 6.5vw;
	height: 6.5vh;
	padding-top: 2.5vh;
	border: 2px solid silver;
	border-radius: 5px;
}
